.notify-wrapper {
  max-width: 33%;
  position: fixed;
  padding-right: 10px;
  top: 50px;
  right: 25px;
  z-index: 10000;
}

.notify-wrapper .notification {
  box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
  color: white;
  font-size: 13px;
  background: #f0f0f0;
  opacity: 0.8;
  padding: 10px;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
  border: 2px solid lightgrey;
  border-radius: 5px;
}

.notify-wrapper .notification.success {
  background-color: #51a351;
}

.notify-wrapper .notification.warning {
  background-color: #f89406;
}

.notify-wrapper .notification.error {
  background-color: #bd362f;
}

.notify-wrapper .notification.info {
  background-color: #2f96b4;
}

.notify-wrapper .notification:hover {
  opacity: 1;
  text-shadow: none;
}

.notify-wrapper .notification a.remove {
  position: absolute;
  top: 3px;
  right: 3px;
  color: #c8c8c8;
}

.notify-wrapper .notification a.remove:hover {
  color: grey;
}